name: Playwright + Cucumber E2E

on:
  push:
    branches:
      - "**"

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Dependencies
        run: npm install

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Run Tests
        run: npx cucumber-js --require-module ts-node/register --require 'tests/steps/*.ts' 'tests/features/**/*.feature'

      - name: Upload Reports
        uses: actions/upload-artifact@v4
        with:
          name: test-report
          path: reports/
